:root {
  --max-width: 1024px;
  --font-size: 14px;
  --font-ubuntu: Ubuntu, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;
  --offset-y: 169px;
  /* Colors */
  --white: #fff;
  --blue: #0096cc;
  --red: #d56767;
  --green: #30aea3;
  --gray: #e6f1f5;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  margin: 0 auto;
  max-width: var(--max-width);
  overflow: hidden;
}

html {
  -webkit-text-size-adjust: 100%;
  font-size: var(--font-size);
  font-family: var(--font-ubuntu);
  line-height: 1.5;
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  color: rgb(var(--foreground-rgb));
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

p,
a {
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: var(--font-ubuntu);
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

ul li {
  display: inline-block;
  height: 100%;
  width: 100%;
}

img {
  display: block;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

button {
  cursor: pointer;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
}

/* Helpers */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
