.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.header {
  background-color: var(--blue);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  padding: 12px 24px;
  max-height: 53px;
  width: 100%;
  z-index: 10;
}

.headerIcon {
  display: inline-block;
  margin-right: 8px;
}

.title {
  color: var(--white);
  font-size: 1.3rem;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 24px 0;
  position: relative;
  top: 53px;
  height: calc(100svh - var(--offset-y));
  width: 100%;
  z-index: 1;
}

.footer {
  display: flex;
  flex-direction: row;
  background-color: var(--blue);
  align-items: center;
  justify-content: space-around;
  padding: 10px 24px;
  position: absolute;
  bottom: 0;
  max-height: 60px;
  width: 100%;
  z-index: 10;
}

.button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  color: var(--white);
}

.buttonIcon {
  display: flex;
  margin-right: 8px;
}

.separator {
  border: 1px solid var(--white);
  height: 100%;
  min-height: 40px;
  width: 1px;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
}

/* Desktop */
@media (min-width: 1121px) {
}
