.container {
  padding: 0 24px;
}

.imgTitle {
  margin-bottom: 4px;
}

.imagesContainer {
  position: relative;
  margin: 12px 0;
  overflow-y: auto;
}

.article {
  margin-bottom: 8px;
}

.image {
  border-radius: 12px;
}

.clearBtn {
  border: none;
  background-color: var(--red);
  font-size: 1.2rem;
  color: var(--white);
  margin-bottom: 4px;
  padding: 4px 8px;
}
