.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
  width: 90%;
}

.cards__buttons-container {
  display: flex;
  margin-top: 24px;
  margin-bottom: 8px;
}

.cards__buttons {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  margin: 0 12px;
  overflow: hidden;
  height: 40px;
  width: 40px;

  .cards__buttons-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 100%;
    width: 100%;
  }

  .nope {
    color: var(--red);
  }

  .like {
    color: var(--green);
  }

  :hover,
  :active {
    background-color: var(--gray);
    border: none;
    border-radius: 50%;
  }
}

button[disabled] {
  opacity: 0.5;
  pointer-events: none;
}

.cards__no-results {
  font-size: 1.4rem;
  padding: 24px;
  position: relative;
  text-align: center;
  top: 35%;
}

.cards__item {
  position: absolute;
  transform-origin: 50% 50%;
  transform: translate(0, 0) rotate(0, 0);
  transition: transform 0.5s ease-in-out;
  z-index: 9;
}

.cards__item--like {
  transform: translate(120%, 0) rotate(25deg);
}

.cards__item--dislike {
  transform: translate(-120%, 0) rotate(-25deg);
}

.cards__item-choice {
  border: none;
  display: flex;
  font-size: 2.5rem;
  position: absolute;
  inset: 0;
  padding: 16px;
  text-shadow: #00000088 1px 0 10px;
  opacity: 0;
  transition: opacity 0.2s ease-in;
}

.cards__item-choice--nope {
  color: var(--red);
  justify-content: flex-start;
}

.cards__item-choice--like {
  color: var(--green);
  justify-content: flex-end;
}

.cards__item-choice--show {
  opacity: 1;
}
